# VM (Self-managed MySQL on Azure VM)
VM_DB_HOST=127.0.0.1
VM_DB_PORT=3306
VM_DB_USER=class_user
VM_DB_PASS=change_me
VM_DB_NAME=class_db_netid


# Azure Managed MySQL
AZURE_DB_HOST=your-azure-mysql-host.mysql.database.azure.com
AZURE_DB_PORT=3306
AZURE_DB_USER=class_user@your-azure-mysql-host
AZURE_DB_PASS=change_me
AZURE_DB_NAME=class_db_netid


# GCP Managed MySQL
GCP_DB_HOST=your-gcp-public-ip
GCP_DB_PORT=3306
GCP_DB_USER=class_user
GCP_DB_PASS=change_me
GCP_DB_NAME=class_db_netid



