# VM
VM_DB_HOST=10.0.1.10        # or 127.0.0.1 via SSH tunnel
VM_DB_PORT=3306
VM_DB_USER=class_user
VM_DB_PASS=change_me
VM_DB_NAME=class_db_netid

# Managed
MAN_DB_HOST=...
MAN_DB_PORT=3306
MAN_DB_USER=class_user
MAN_DB_PASS=change_me
MAN_DB_NAME=class_db_netid